*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}

header{
    background-color: #412234;
    text-align: center;
    color: #fff;
    padding: 10px;
    font-weight: bold;
}

body{
    background-color: #C1CAD6;
}

body h2{
    text-align: center;
    margin: 5px;
}

form{
    width: 600px;
    margin: auto;
    padding: 20px 20px;
}

fieldset{
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    background-color: #BDD9BF;
    padding: 40px;
}

form input[type=text],
form select{
    width: 100%;
    margin: 10px 0;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 10px;
}

form input[type=radio]{
    width: auto;
    margin: 10px;
}

form input[type=button],
form [type=submit]{
    background-color: #2E4052;
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 15px 40px;
    display: block;
    margin: 20px auto 5px ;
    font-size: 15px;
}

#ticket{
    border: dashed 2px;
    width: 500px;
    text-align: center;
    margin: 20px auto;
    padding: 10px 0px;
    line-height: 30px;
    background-color: #FFC857;
    color: black;
}

footer{
    text-align: center;
    color: white;
    background-color: #111;
    padding: 5px 0px;
}